<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指明当前xml对应的Mapper -->
<mapper namespace="com.jiangxiacollege.canteenwebsite.admin.mapper.OrderMapper">
    <!-- 多表查询,Select 的as后面的名称必须与NoticeVO属性名大小写一致  -->
    <select id="selectOrderListPage" parameterType="com.jiangxiacollege.canteenwebsite.admin.vo.OrderVO" resultType="com.jiangxiacollege.canteenwebsite.admin.vo.OrderVO">
        SELECT
         id,
         seller_id,
         customer_id,
         product_id,
         address_id,
         status,
         money,
         pay,
         time,
         edit


        FROM
            order

        WHERE 1=1
        <!--<if test="order.customerId != null">
            and customer_id = #{address.customerId}
        </if>-->
        <!--<if test="id != null">
            and o.time like  concat('%',#{time},'%')
        </if>
-->

    </select>


</mapper>
