<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指明当前xml对应的Mapper -->
<mapper namespace="com.jiangxiacollege.canteenwebsite.admin.mapper.SellerUserInfoMapper">
    <!-- 多表查询,Select 的as后面的名称必须与UserVO属性名大小写一致  -->
    <select id="selectSellerUserInfoListPage" parameterType="com.jiangxiacollege.canteenwebsite.admin.vo.SellerUserInfoVO" resultType="com.jiangxiacollege.canteenwebsite.admin.vo.SellerUserInfoVO">
        SELECT
        u.id as id,
        u.user_name as user_name,
        u.password as password,
        u.phone as phone,
        u.address as address,
        u.shop_name as shop_name,
        u.shop_type as shop_type,
        u.school as school,
        u.phone as phone,
        u.status as status

        FROM
             seller_user_info u

        WHERE 1=1
        <if test="user_name != null">
            and u.user_name like  concat('%',#{user_name},'%')
        </if>
        <if test="userId != null and userId != '' ">
            and u.id = #{userId}
        </if>

    </select>

</mapper>
