<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
<meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>我的购物车</title>
<meta name="keywords" content="" />
<meta name="description" content=" " />
<meta name="author" content=""/>
<link href="../style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jqpublic.js"></script>
    <link rel="stylesheet" href="../css/css/reset.css">
    <link rel="stylesheet" href="../css/css/carts.css">
</head>
<body>
<header>
 <section class="Topmenubg">
  <div class="Topnav">
      <script th:inline="javascript">
          $(document).ready(function(){
              var customer=[[${session.USER}]]
              if(customer!=null&&customer!=""){
                  $("#d1").hide();
                  $("#d2").text("欢迎您："+customer ).show();
              }
          });
      </script>
   <div class="LeftNav">
       <div id="d1"><a href="../login/register">注册</a>/<a href="../login/login">登录</a></div><div id="d2"></div>
   </div>
   <div class="RightNav">
    <a href="../user_center">用户中心</a> <a href="user_orderlist" target="_blank" title="我的订单">我的订单</a> <a href="../cart">购物车（0）</a> <a href="../user_favorites" target="_blank" title="我的收藏">我的收藏</a> <a href="#">商家入驻</a>
   </div>
  </div>
 </section>
 <div class="Logo_search">
  <div class="Logo">
   <img src="../images/logo.jpg" title="" alt="">
  </div>
  <div class="Search"> 
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
   <div class="Search_nav" id="selectsearch">
    <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
    <a href="javascript:;" onClick="selectsearch(this,'food_name')">食物名</a>
   </div>
       <script>
           $(document).ready(function () {
               $("#bt1").click(function(){
                   var keyword =  $("#fkeyword").val();
                   window.location.href = '../sell/listByKeyWord?fkeyword='+keyword+'';
               });
           })
       </script>
       <div class="Search_area" id="dd1">
           <input id="fkeyword" type="search"  name="keyword" placeholder="请输入..." class="searchbox" />
           <input id="bt1"  type="button" class="searchbutton" value="搜 索" />
   </div>
   </form>
   <p class="hotkeywords"><a href="#" title="酸辣土豆丝">酸辣土豆丝</a><a href="#" title="这里是产品名称">螃蟹炒年糕</a><a href="#" title="这里是产品名称">牛奶炖蛋</a><a href="#" title="这里是产品名称">芝麻酱凉面</a><a href="#" title="这里是产品名称">滑蛋虾仁</a><a href="#" title="这里是产品名称">蒜汁茄子</a></p>
  </div>
 </div>
 <nav class="menu_bg">
  <ul class="menu">
   <li><a href="/">首页</a></li>
   <li><a href="../list">订餐</a></li>
   <li><a href="../article_read">关于我们</a></li>
  </ul>
 </nav>
</header>
<!--Start content-->

<section class="cartMain">
    <div class="cartMain_hd">
        <ul class="order_lists cartTop">
            <li class="list_chk">
                <!--所有商品全选-->
                <input type="checkbox" id="all" class="whole_check">
                <label for="all"></label>全选
            </li>
            <li class="list_con">商品信息</li>
            <li class="list_info">商品参数</li>
            <li class="list_price">单价</li>
            <li class="list_amount">数量</li>
            <li class="list_sum">小计</li>
            <li class="list_op">操作</li>
        </ul>
    </div>

    <div class="cartBox" th:each="cartList:${cartMap}">
        <div class="shop_info">
            <div class="all_check">
                <!--店铺全选-->
                <input type="checkbox" id="shop_a"   class="shopChoice">
                <label for="shop_a"  class="shop"></label>
            </div>
            <div class="shop_name">
                店铺：<a href="javascript:;" th:text="${cartList.key}"></a>
            </div>
        </div>
        <div class="order_content" >
            <ul class="order_lists" th:each="cart:${cartList.value}">
                <li class="list_chk">
                    <input type="checkbox" th:id="'checkbox_'+${cartStat.index}+${cartListStat.index}" class="son_check">
                    <label th:for="'checkbox_'+${cartStat.index}+${cartListStat.index}"></label>
                </li>
                <li class="list_con">
                    <div class="list_img"><a href="javascript:;"><img th:src="${cart.photo}" alt=""></a></div>
                    <div class="list_text"><a href="javascript:;" th:text="${cart.name}"></a></div>
                </li>
                <li class="list_info">
                    <p></p>
                    <p></p>
                </li>
                <li class="list_price">
                    <p class="price" th:text="'￥'+${cart.price}"></p>
                </li>
                <li class="list_amount">
                    <div class="amount_box">
                        <a href="javascript:;" class="reduce  reSty">-</a>  <!--//-->
                        <input type="text" value="1" class="sum" th:value="${cart.number}">
                        <a href="javascript:;" class="plus">+</a>
                    </div>
                </li>
                <li class="list_sum">
                    <p class="sum_price"  th:text="'￥'+${cart.price}*${cart.number}"></p>
                </li>
                <li class="list_op">
                    <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                </li>
            </ul>
        </div>
    </div>
    <!--底部-->
    <div class="bar-wrapper">
        <div class="bar-right">
            <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
            <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
            <div class="calBtn"><a href="../confirm_order">结算</a></div>
        </div>
    </div>
</section>
<section class="model_bg"></section>
<section class="my_model">
    <p class="title">删除宝贝<span class="closeModel">X</span></p>
    <p>您确认要删除该宝贝吗？</p>
    <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a></div>
</section>
<script src="../js/js/jquery-1.11.0.min.js"></script>
<script src="../js/js/carts.js"></script>




<!--End content-->



<footer>
 <section class="Otherlink">
  <aside>
   <div class="ewm-left">
    <p>手机扫描二维码：</p>
    <img src="../images/Android_ico_d.gif">
    <img src="../images/iphone_ico_d.gif">
   </div>
   <div class="tips">
    <p>客服热线</p>
    <p><i>1830927**73</i></p>
    <p>配送时间</p>
    <p><time>09：00</time>~<time>22:00</time></p>
    <p>网站公告</p>
   </div>
  </aside>
  <section>
    <div>
    <span><i class="i1"></i>配送支付</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">支付方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务费用</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i2"></i>关于我们</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">招贤纳士</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">商家加盟</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i3"></i>帮助中心</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">服务内容</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">常见问题</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站地图</a></li>
    </ul>
    </div>
  </section>
 </section>

</footer>



</body>
</html>
