<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
<meta charset="utf-8" />
<title>首页</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content=""/>
<link href="../style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jqpublic.js"></script>
</head>

<body>
<header>
 <section class="Topmenubg">
  <div class="Topnav">
   <script th:inline="javascript">
    $(document).ready(function(){
    var customer=[[${session.USER}]]
     if(customer!=null&&customer!=""){
      $("#d1").hide();
      $("#d2").text("欢迎您："+customer ).show();
     }
    });
   </script>

   <div class="LeftNav">
    <div id="d1"><a href="../login/register">注册</a>/<a href="../login/login">登录</a></div><div id="d2"></div>
    <p id="addname"></p>
   </div>
   <div class="RightNav">
    <a href="../user_center">用户中心</a>
    <a href="user_orderlist" target="_blank" title="我的订单">我的订单</a>
    <a href="../cart">购物车（0）</a>
    <a href="../user_favorites" target="_blank" title="我的收藏">我的收藏</a>
    <a href="#">商家入驻</a>
   </div>
  </div>
 </section>
 <div class="Logo_search">
  <div class="Logo">
   <img src="../images/logo.jpg" title="" alt="">
<!--   <h1>高校食堂外卖</h1>-->
  </div>
  <div class="Search"> 
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
   <div class="Search_nav" id="selectsearch">
    <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
    <a href="javascript:;" onClick="selectsearch(this,'food_name')">食物名</a>
   </div>
   <div class="Search_area"> 
   <input type="search" id="fkeyword" name="keyword" placeholder="请输入..." class="searchbox" />
   <input type="submit" class="searchbutton" value="搜 索" />
   </div>
   </form>
   <p class="hotkeywords">
    <a href="#" title="酸辣土豆丝">酸辣土豆丝</a>
    <a href="#" title="这里是产品名称">兰州拉面</a>
    <a href="#" title="这里是产品名称">烤面包</a>
    <a href="#" title="这里是产品名称">芝麻酱凉面</a>
    <a href="#" title="这里是产品名称">滑蛋虾仁</a>
    <a href="#" title="这里是产品名称">蒜汁茄子</a>
   </p>
  </div>
 </div>
 <nav class="menu_bg">
  <ul class="menu">
   <li><a href="/">首页</a></li>
   <li><a href="../list">订餐</a></li>
   <li><a href="../article_read">关于我们</a></li>
  </ul>
 </nav>
</header>
<!--Start content-->
<section class="Cfn">
 <!--<aside class="C-left">
  <div class="S-time">服务时间：<time>10:00</time>-<time>20:00</time></div>
  <div class="C-time">
   <img src="../upload/dc.jpg"/>
  </div>
  <a href="../list" target="_blank"><img src="../images/by_button.png"></a>
  <a href="../list" target="_blank"><img src="../images/dc_button.png"></a>
 </aside>-->
 <div class="F-middle">
 <ul class="rslides f426x240">
        <li><a href="javascript:"><img src="../upload/03.jpg" width="900" height="403"/></a></li>
        <li><a href="javascript:"><img src="../upload/02.jpg" width="900" height="403"/></a></li>
        <li><a href="javascript:"><img src="../upload/01.jpg" width="900" height="403"/></a></li>
    </ul>
 </div>
 <aside class="N-right">
  <div class="N-title">公告栏 </div>
  <ul class="Orderlist" id="UpRoll">
   <li>
   <p>欢迎欢迎热列欢迎</p>
   <p>本网站便捷好用</p>
   </li>
   <li>
    <p>欢迎欢迎热列欢迎</p>
    <p>本网站便捷好用</p>
   </li>
   <li>
    <p>欢迎欢迎热列欢迎</p>
    <p>本网站便捷好用</p>
   </li>
  </ul>
  <script>
   var UpRoll = document.getElementById('UpRoll');
   var lis = UpRoll.getElementsByTagName('li');
   var ml = 0;
   var timer1 = setInterval(function(){
    var liHeight = lis[0].offsetHeight;
    var timer2 = setInterval(function(){
     UpRoll.scrollTop = (++ml);
     if(ml ==1){
        clearInterval(timer2);
        UpRoll.scrollTop = 0;
        ml = 0;
        lis[0].parentNode.appendChild(lis[0]);
    }
    },10); 
    },5000);
  </script>
 </aside>
</section>
<section class="Sfainfor">
 <article class="Sflist">
  <div id="Indexouter">
   <ul id="Indextab">
    <li class="current">热门精选</li>
    <!--<p class="class_B">
    <a href="#">简餐</a>
    <a href="#">面食</a>
    <a href="#">西餐</a>
    <a href="#">甜品</a>
    <a href="#">水果</a>
    <a href="#">饮品</a>
    <span><a href="#" target="_blank">more ></a></span>
    </p>-->
   </ul>
  <div id="Indexcontent">
   <ul style="display:block;">
    <li>
     <div class="SCcontent">
     <a href="../detailsp" target="_blank" title="菜品名称">
      <figure>
       <img src="../upload/05.jpg">
       <figcaption>
       <span class="title">老李家的糖醋鲤鱼</span>
       <span class="price"><i>￥</i>169.00</span>
       </figcaption>
      </figure>
      </a>
     <a href="../detailsp" target="_blank" title="菜品名称">
      <figure>
       <img src="../upload/04.jpg">
       <figcaption>
       <span class="title">老李家的糖醋鲤鱼</span>
       <span class="price"><i>￥</i>169.00</span>
       </figcaption>
      </figure>
      </a>
     <a href="../detailsp" target="_blank" title="菜品名称">
      <figure>
       <img src="../upload/06.jpg">
       <figcaption>
       <span class="title">老李家的糖醋鲤鱼</span>
       <span class="price"><i>￥</i>169.00</span>
       </figcaption>
      </figure>
      </a>
        <a href="../detailsp" target="_blank" title="菜品名称">
         <figure>
             <img src="../upload/04.jpg">
             <figcaption>
                 <span class="title">老李家的糖醋鲤鱼</span>
                 <span class="price"><i>￥</i>169.00</span>
             </figcaption>
         </figure>
     </a>
     </div>
     <div class="bestshop">
         <a href="../shop" target="_blank" title="店铺名称">
             <figure>
                 <img src="../upload/wpjnewlogo.jpg">
             </figure>
         </a>
      <a href="../shop" target="_blank" title="店铺名称">
      <figure>
       <img src="../upload/wpjnewlogo.jpg">
      </figure>
      </a>
      <a href="../shop" target="_blank" title="店铺名称">
      <figure>
       <img src="../upload/weijia.jpg">
      </figure>
      </a>
      <a href="../shop" target="_blank" title="店铺名称">
      <figure>
       <img src="../upload/wpjnewlogo.jpg">
      </figure>
      </a>
      <a href="../shop" target="_blank" title="店铺名称">
      <figure>
       <img src="../upload/weijia.jpg">
      </figure>
      </a>
      <a href="../shop" target="_blank" title="店铺名称">
      <figure>
       <img src="../upload/wpjnewlogo.jpg">
      </figure>
      </a>

     </div>
    </li>
   </ul>
  <!-- <ul>
  <li>
     <p class="seekarea">
     <a href="#">碑林区</a>
     <a href="#">新城区</a>
     <a href="#">未央区</a>
     <a href="#">雁塔区</a>
     <a href="#">莲湖区</a>
     <a href="#">高新区</a>
     <a href="#">灞桥区</a>
     <a href="#">高陵区</a>
     <a href="#">阎良区</a>
     <a href="#">临潼区</a>
     <a href="#">长安区</a>
     <a href="#">周至县</a>
     <a href="#">蓝田县 </a>
     </p>
     <div class="DCcontent">
       <a href="../shop" target="_blank" title="TITLE:店名">
       <figure>
       <img src="../upload/cc.jpg">
       <figcaption>
       <span class="title">老重庆川菜馆</span>
       <span class="price">预定折扣：<i>8.9折</i></span>
       </figcaption>
       <p class="p1"><q>仅售169元！价值289元的4-5人餐，提供免费WiFi。</q></p>
       <p class="p2">
       店铺评分：
       <img src="../images/star-on.png">
       <img src="../images/star-on.png">
       <img src="../images/star-on.png">
       <img src="../images/star-on.png">
       <img src="../images/star-off.png">
       </p>
       <p class="p3">店铺地址：西安市雁塔区丈八路***老重庆川菜馆...</p>
       </figure>
      </a>
       <a href="../shop" target="_blank" title="TITLE:店名">
       <figure>
       <img src="../upload/cc.jpg">
       <figcaption>
       <span class="title">老重庆川菜馆</span>
       <span class="price">预定折扣：<i>8.9折</i></span>
       </figcaption>
       <p class="p1"><q>仅售169元！价值289元的4-5人餐，提供免费WiFi。</q></p>
       <p class="p2">
       店铺评分：
       <img src="../images/star-on.png">
       <img src="../images/star-on.png">
       <img src="../images/star-on.png">
       <img src="../images/star-on.png">
       <img src="../images/star-off.png">
       </p>
       <p class="p3">店铺地址：西安市雁塔区丈八路***老重庆川菜馆...</p>
       </figure>
      </a>
       <a href="../shop" target="_blank" title="TITLE:店名">
       <figure>
       <img src="../upload/cc.jpg">
       <figcaption>
       <span class="title">老重庆川菜馆</span>
       <span class="price">预定折扣：<i>8.9折</i></span>
       </figcaption>
       <p class="p1"><q>仅售169元！价值289元的4-5人餐，提供免费WiFi。</q></p>
       <p class="p2">
       店铺评分：
       <img src="../images/star-on.png">
       <img src="../images/star-on.png">
       <img src="../images/star-on.png">
       <img src="../images/star-on.png">
       <img src="../images/star-off.png">
       </p>
       <p class="p3">店铺地址：西安市雁塔区丈八路***老重庆川菜馆...</p>
       </figure>
      </a>
     </div>
  </li>
  </ul>-->
 </div>
 </div>
 </article>
 <!--<aside class="A-infor">
  <img src="../upload/2014911.jpg">
  <div class="usercomment">
   <span>用户菜品点评</span>
   <ul>
    <li>
     <img src="../upload/01.jpg">
     用户“DeathGhost”对[ 老李川菜馆 ]“酸辣土豆丝”评说：味道挺不错，送餐速度挺快...
    </li>
    <li>
     <img src="../upload/02.jpg">
     用户“DeathGhost”对[ 魏家凉皮 ]“酸辣土豆丝”评说：味道挺不错，送餐速度挺快...
    </li>
   </ul>
  </div>
 </aside>-->
</section>
<!--End content-->

<footer>
 <section class="Otherlink">
  <aside>
   <div class="ewm-left">
    <p>扫描二维码关注我们：</p>
    <img src="../images/Android_ico_d.gif">
    <img src="../images/iphone_ico_d.gif">
   </div>
   <div class="tips">
    <p>客服热线</p>
    <p><i>123456**89</i></p>
    <p>配送时间</p>
    <p><time>10：00</time>~<time>20:00</time></p>
    <p>网站公告</p>
   </div>
  </aside>
  <section>
    <div>
    <span><i class="i1"></i>配送支付</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">支付方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务费用</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i2"></i>关于我们</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">招贤纳士</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">商家加盟</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i3"></i>帮助中心</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">服务内容</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">常见问题</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站地图</a></li>
    </ul>
    </div>
  </section>
 </section>
</footer>
</body>
</html>
