<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
<meta charset="utf-8" />
<title>用户中心-订单列表</title>
<meta name="keywords" content="" />
<meta name="description" content="!" />
<meta name="author" content=""/>
<link href="../style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jqpublic.js"></script>

</head>
<body>
<header>
 <section class="Topmenubg">
  <div class="Topnav">
      <script th:inline="javascript">
          $(document).ready(function(){
              var customer=[[${session.USER}]]
              if(customer!=null&&customer!=""){
                  $("#d1").hide();
                  $("#d2").text("欢迎您："+customer ).show();
              }
          });
      </script>
   <div class="LeftNav">
       <div id="d1"><a href="../login/register">注册</a>/<a href="../login/login">登录</a></div><div id="d2"></div>
   </div>
   <div class="RightNav">
    <a href="../user_center">用户中心</a> <a href="user_orderlist" target="_blank" title="我的订单">我的订单</a> <a href="../cart">购物车（0）</a> <a href="../user_favorites" target="_blank" title="我的收藏">我的收藏</a> <a href="#">商家入驻</a>
   </div>
  </div>
 </section>
 <div class="Logo_search">
  <div class="Logo">
   <img src="../images/logo.jpg" title="" alt="">
  </div>
  <div class="Search"> 
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
   <div class="Search_nav" id="selectsearch">
    <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
    <a href="javascript:;" onClick="selectsearch(this,'food_name')">食物名</a>
   </div>
       <script>
           $(document).ready(function () {
               $("#bt1").click(function(){
                   var keyword =  $("#fkeyword").val();
                   window.location.href = '../sell/listByKeyWord?fkeyword='+keyword+'';
               });
           })
       </script>
       <div class="Search_area" id="dd1">
           <input id="fkeyword" type="search"  name="keyword" placeholder="请输入..." class="searchbox" />
           <input id="bt1"  type="button" class="searchbutton" value="搜 索" />
   </div>
   </form>
   <p class="hotkeywords"><a href="#" title="酸辣土豆丝">酸辣土豆丝</a><a href="#" title="这里是产品名称">螃蟹炒年糕</a><a href="#" title="这里是产品名称">牛奶炖蛋</a><a href="#" title="这里是产品名称">芝麻酱凉面</a><a href="#" title="这里是产品名称">滑蛋虾仁</a><a href="#" title="这里是产品名称">蒜汁茄子</a></p>
  </div>
 </div>
 <nav class="menu_bg">
  <ul class="menu">
   <li><a href="/">首页</a></li>
   <li><a href="../list">订餐</a></li>
   <li><a href="../article_read">关于我们</a></li>
  </ul>
 </nav>
</header>
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
   <li><i></i><a href="../user_center">用户中心首页</a></li>
   <li><i></i><a href="user_orderlist">我的订单</a></li>
 <li><i></i><a href="../user_address">收货地址</a></li>
<!--   <li><i></i><a href="../user_message">我的留言</a></li>-->
<!--   <li><i></i><a href="../user_coupon">我的优惠券</a></li>-->
   <li><i></i><a href="../user_favorites">我的收藏</a></li>
   <li><i></i><a href="../user_account">账户管理</a></li>
   <li><i></i><a href="#">安全退出</a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <!--user order list-->
  <section>
    <table class="Myorder">
     <th class="Font14 FontW">订单编号</th>
     <th class="Font14 FontW">下单时间</th>
     <th class="Font14 FontW">用户</th>
     <th class="Font14 FontW">订单总金额</th>
     <th class="Font14 FontW">订单状态</th>
     <th class="Font14 FontW">操作</th>
     <tr th:each="order : ${orderList}">
      <td class="FontW"><a th:href="'../user_order?orderId='+${order.id}" th:text="${order.Id}"></a></td>
      <td th:text="${order.time}"></td>
      <td th:text="${order.name}"></td>
      <td th:text="${order.money}"></td>
         <p th:switch="${order.status}">
         <td th:case="0">已送达</td>
         <td th:case="1">已发货</td>
         <td th:case="2">未发货</td>
         <td th:case="3">未付款</td>
         </p>
      <td><a href="#">取消订单</a> | <a href="#">付款</a> | <a href="#">确认送达</a> | <a href="#">评论商品</a></td>

     </tr>
    </table>
    <div class="TurnPage">
         <a href="#">
          <span class="Prev"><i></i>首页</span>
         </a>
         <a href="#"><span class="PNumber">1</span></a>
         <a href="#"><span class="PNumber">2</span></a>
         <a href="#">
         <span class="Next">最后一页<i></i></span>
        </a>
       </div>
  </section>
 </article>
</section>
<!--End content-->

<footer>
 <section class="Otherlink">
  <aside>
   <div class="ewm-left">
    <p>手机扫描二维码：</p>
    <img src="../images/Android_ico_d.gif">
    <img src="../images/iphone_ico_d.gif">
   </div>
   <div class="tips">
    <p>客服热线</p>
    <p><i>1830927**73</i></p>
    <p>配送时间</p>
    <p><time>09：00</time>~<time>22:00</time></p>
    <p>网站公告</p>
   </div>
  </aside>
  <section>
    <div>
    <span><i class="i1"></i>配送支付</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">支付方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务费用</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i2"></i>关于我们</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">招贤纳士</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">商家加盟</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i3"></i>帮助中心</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">服务内容</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">常见问题</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站地图</a></li>
    </ul>
    </div>
  </section>
 </section>

</footer>
</body>
</html>
