<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>用户中心-收货地址</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content=""/>
<link href="../style/style.css" rel="stylesheet" type="text/css" />
 <link th:href="@{/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
 <link th:href="@{/css/style.css?v=4.1.0}" rel="stylesheet">
 <link th:href="@{/css/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet">
 <!-- toastr -->
 <link th:href="@{/css/toastr/toastr.min.css}" rel="stylesheet">
 <script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/jqpublic.js"></script>
 <script type="text/javascript" src="../js/address.js"></script>
 <script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
 <script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
 <script th:src="@{/js/layer/layer.min.js}"></script>
 <script th:src="@{/js/toastr/toastr.min.js}"></script>
 <!-- 自定义js -->
 <script th:src="@{/js/content.js}"></script>
 <!-- Data Tables -->
 <script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
 <script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
</head>
<body>
<header>
 <section class="Topmenubg">
  <div class="Topnav">
   <script th:inline="javascript">
    $(document).ready(function(){
     var customer=[[${session.USER}]]
     if(customer!=null&&customer!=""){
      $("#d1").hide();
      $("#d2").text("欢迎您："+customer ).show();
     }
    });
   </script>
   <div class="LeftNav">
    <div id="d1"><a href="../login/register">注册</a>/<a href="../login/login">登录</a></div><div id="d2"></div>
   </div>
   <div class="RightNav">
    <a href="../user_center">用户中心</a> <a href="user_orderlist" target="_blank" title="我的订单">我的订单</a> <a href="../cart">购物车（0）</a> <a href="../user_favorites" target="_blank" title="我的收藏">我的收藏</a> <a href="#">商家入驻</a>
   </div>
  </div>
 </section>
 <div class="Logo_search">
  <div class="Logo">
   <img src="../images/logo.jpg" title="" alt="">
  </div>
  <div class="Search"> 
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
   <div class="Search_nav" id="selectsearch">
    <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
    <a href="javascript:;" onClick="selectsearch(this,'food_name')">食物名</a>
   </div>
    <script>
     $(document).ready(function () {
      $("#bt1").click(function(){
       var keyword =  $("#fkeyword").val();
       window.location.href = '../sell/listByKeyWord?fkeyword='+keyword+'';
      });
     })
    </script>
    <div class="Search_area" id="dd1">
     <input id="fkeyword" type="search"  name="keyword" placeholder="请输入..." class="searchbox" />
     <input id="bt1"  type="button" class="searchbutton" value="搜 索" />
   </div>
   </form>
<!--   <p class="hotkeywords"><a href="#" title="酸辣土豆丝">酸辣土豆丝</a><a href="#" title="这里是产品名称">螃蟹炒年糕</a><a href="#" title="这里是产品名称">牛奶炖蛋</a><a href="#" title="这里是产品名称">芝麻酱凉面</a><a href="#" title="这里是产品名称">滑蛋虾仁</a><a href="#" title="这里是产品名称">蒜汁茄子</a></p>-->
  </div>
 </div>
 <nav class="menu_bg">
  <ul class="menu">
   <li><a href="/">首页</a></li>
   <li><a href="../list">订餐</a></li>
   <li><a href="../article_read">关于我们</a></li>
  </ul>
 </nav>
</header>
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
   <li><i></i><a href="../user_center">用户中心首页</a></li>
   <li><i></i><a href="user_orderlist">我的订单</a></li>
   <li><i></i><a href="../user_address">收货地址</a></li>
<!--   <li><i></i><a href="../user_message">我的留言</a></li>-->
<!--   <li><i></i><a href="../user_coupon">我的优惠券</a></li>-->
   <li><i></i><a href="../user_favorites">我的收藏</a></li>
   <li><i></i><a href="../user_account">账户管理</a></li>
   <li><i></i><a href="#">安全退出</a></li>
   <li><a href="#"></a></li>
   <li><a href="#"></a></li>
   <li><a href="#"></a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <!--user Address-->
  <section class="Myaddress Overflow">
   <div class="col-sm-4">
    <button id="btn_add" class="btn btn-primary btn-sm" ><i class="fa fa-plus"></i>&nbsp;添加</button>
    <button id="btn_del" class="btn btn-danger btn-sm m-l-sm" ><i class="fa fa-remove"></i>&nbsp;删除</button>
   </div>
   <span class="MDtitle Font14 FontW Block Lineheight35">收货人信息</span>
   <table class="table table-striped table-bordered table-hover" id="table">
    <thead>
    <tr>
     <th style="padding-left: 10px;">
      <input type="checkbox" id="cb_selectAll" class="input-lg" style="width:20px;height:20px;"/>
     </th>
<!--     <th>id</th>-->
     <th>收货人姓名</th>
     <th>地址</th>
     <th>手机号码</th>
     <th>操作</th>
    </tr>
    </thead>
   </table>

   <!-- 模态窗口 -->
   <div class="modal fade" data-backdrop="static" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
       </button>
       <h2 class="modal-title" id="modaltitle"></h2>
      </div>
      <div class="modal-body">
       <div class="row">
        <!-- 表单布局 -->
        <form id="form">
         <!--<div class="col-md-12">
          <div class="form-group">
           <label class="col-sm-3 control-label"><font color="#FF0000">*</font>ID：</label>
           <div class="col-sm-3">
&lt;!&ndash;            <input type="hidden" name="id" id="id" hidden="hidden">&ndash;&gt;
            <input  class="form-control" type="text" name="id" id="id">
            <span class="help-block m-b-none"></span>
           </div>
          </div>
         </div>-->
         <div class="col-md-12">
          <div class="form-group">
           <label class="col-sm-3 control-label"><font color="#FF0000">*</font>收货人姓名：</label>
           <div class="col-sm-3">
            <input type="hidden" name="id" id="id" hidden="hidden">
            <input  class="form-control" type="text" name="name" id="name">
            <span class="help-block m-b-none"></span>
           </div>
          </div>
         </div>
         <div class="col-md-12">
         <div class="form-group">
          <label class="col-sm-3 control-label">地址：</label>
          <div class="col-sm-3">
           <input  class="form-control" type="text" name="address" id="address">
           <span class="help-block m-b-none"></span>
          </div>
         </div>
        </div>

         <div class="col-md-12">
          <div class="form-group">
           <label class="col-sm-3 control-label">手机号码：</label>
           <div class="col-sm-3">
            <input  class="form-control" type="text" name="phone" id="phone">
            <span class="help-block m-b-none"></span>
           </div>
          </div>
         </div>
        </form>
        <!-- 表单布局结束 -->
       </div>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-white"
               data-dismiss="modal">关闭</button>
       <button type="button" class="btn btn-primary" id="btn_save">保存</button>
      </div>
     </div>
    </div>
   </div>
   <!-- 模态窗口结束 -->

<!--
   <form action="#">
   <table th:each="address:${addressInfo}">
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">ID：</td>
     <td><input type="text" name="" required th:value="${address.id}" class="input_name" id="addressId" readonly></td>
    </tr>>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">收货人姓名：</td>
     <td><input type="text" name="" required th:value="${address.name}" class="input_name" id="name"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">地址：</td>
     <td><input type="text" required size="50" th:value="${address.address}" class="input_addr" id="address"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">手机号码：</td>
     <td><input type="text" name="" required pattern="[0-9]{11}" th:value="${address.phone}" class="input_tel" id="phone"></td>
    </tr>
    <tr>
     <td align="right"  width="30%" class="Font14 FontW Lineheight35"></td>
     <td class="Lineheight35"><input name="" type="submit" value="确认修改" class="Submit" onclick="updateAddress()"><input name="" type="submit" value="删除" class="Submit"></td>
    </tr>
   </table>
   </form>
   &lt;!&ndash;add new address&ndash;&gt;
   <form action="#">
    <table style="margin-top:10px;">
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">收货人姓名：</td>
     <td><input type="text" name="" required  class="input_name"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">街道地址：</td>
     <td><input type="text" required  class="input_addr"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">手机号码：</td>
     <td><input type="text" name="" required pattern="[0-9]{11}" class="input_tel"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right"></td>
     <td class="Font14 Font Lineheight35"><input name="" type="submit" value="新增收货地址"  class="Submit"></td>
    </tr>
   </table>
   </form>-->
  </section>
 </article>
</section>
<!--End content-->
<script th:inline="javascript">
 //表格行中的按钮点击事件
 function edit(id){
  //异步获取数据
  $.ajax({
  contentType: "application/json",
    dataType: "json",
   type: "get",
   data:{
    id:id, //第一个id为参数名，第二个为参数值

   },
   url: "/getAddressById",//后台处理地址
   success: function (data) {
    //console.log(data);
    if(data.code==0){
     //设置数据
     $("#id").val(data.data.id);//修改数据必须有主键值

     $("#name").val(data.data.name);
     $("#address").val(data.data.address);
     $("#phone").val(data.data.phone);
     $("#modaltitle").text("修改");
     $("#modal").modal("show");
    }else{
     toastr.error(data.message, '错误!');
    }
   }
  }); // end ajax
 }//end edit

 $(document).ready(function () {
  //datatable
  var datatable= $('#table').DataTable({
   "processing": true,
   "serverSide": true,
   "ajax": {
    url: "/addressList",
    type:"post",
    data: function (d) {
     //把字段名和关键词发送给controller进行查询，自动映射到vo模型的相应属性中
     d["customerId"]=[[${session.userId}]]
    }
   },
   "language": {
    "lengthMenu": "每页 _MENU_ 行",
    "info": "从 _START_ 到 _END_，共 _TOTAL_ 记录",
    "zeroRecords": "没有找到记录",
    "infoEmpty": "暂无记录",
    "infoFiltered": "(从 _MAX_ 条记录过滤)",
    "paginate": {
     "previous": "上一页",
     "next": "下一页",
    },
    "processing": "正在加载..."
   },
   "autoWidth": false,
   "pageLength": 5,
   "lengthChange": false,
   "searching": false,
   "columns": [
    {"data":"id","orderable": false,
     "render": function ( data, type, full, meta ) {
      return '<input type="checkbox" value="'+data+'" class="input-lg" style="width:20px;height:20px;" />';
     }
    },
    // {"data":"id","name":"id"},
    // {"data":"customerId","name":"customerId"},
    {"data":"name","name":"name"},
    {"data":"address","name":"address"},
    {"data":"phone","name":"phone"},

    //有排序功能必须指定name为字段名称
    {"data":"id","orderable": false,
     "render": function ( data, type, full, meta ) {
      return '<button id="btn_edit" class="btn btn-primary btn-sm" onclick="edit(\''+data+'\')"><i class="fa fa-edit"></i>&nbsp;查看修改</button>';
     }
    },
   ],
   "order": [
    [1, 'desc']
   ]//默认排序
  });
  //全选
  $("#cb_selectAll").click(function(){
   if ($("#cb_selectAll").get(0).checked) {
    $("#table tbody :checkbox").prop("checked", true);
   }else{
    $("#table tbody :checkbox").prop("checked", false);
   }
  });

//toastr选项
  toastr.options = {
   "positionClass": "toast-bottom-center",
  }

  //删除
  $("#btn_del").click(function(){
   //获取选中的复选框
   var checkboxlist=$("#table tbody :checked");
   if(checkboxlist.length>0){
    if(!confirm("您确定删除数据吗？"))
    {
     return;
    }
   }else{
    toastr.error("请选择要删除的记录。", '错误!');
    return;
   }
   var ids="";
   $.each(checkboxlist, function(n, cb) {
    ids+=cb.value+",";
   });
   if(ids.length>0){
    ids=ids.substring(0,ids.length-1);
   }
   //异步删除数据
   $.ajax({
    type: "get",
    data: {
     ids:ids,//第一个ids为参数名，第二个为参数值
    },
    url: "/deleteAddress",//后台处理地址
    success: function (data) {
     if(data.code==0){
      toastr.success(data.message, '删除成功！');
      datatable.ajax.reload(null, false);//刷新当前页
     }else{
      toastr.error(data.message, '错误!');
     }
    }
   }); // end ajax

  });//end btn_del

  $("#btn_add").click(function(){
   //清空数据
   $("#name").val("");
   $("#address").val("");
   $("#phone").val("");

   //validator.resetForm();//重置验证
   $("#modaltitle").text("添加");
   $("#modal").modal("show");
  });//end add


  // validate form setting
  var icon = "<i class='fa fa-times-circle'></i> ";
/*  validator=$("#form").validate({
   rules: {
    seller_id: {
     required: true,

    },
    name: {
     required: true,
    },
    price: {
     required: true,
    },

   },
   messages: {
    username: {
     minlength: icon + "不能为空"
    },
   }
  });//end validate*/

  $("#btn_save").click(function(){

    //save
    if($("#modaltitle").text()=="添加"){
     //add
     //异步添加数据
     $.ajax({
      contentType: "application/json",
      dataType: "json",
      type: "post",
      data: JSON.stringify({
       name:$("#name").val(),
       address:$("#address").val(),
       phone:$("#phone").val(),
      }),
      url: "/insertAddress",//后台处理地址
      success: function (data) {
       if(data.code==0){
        toastr.success(data.message, '添加成功！');
        $("#modal").modal('hide');
        datatable.ajax.reload(null, false);//刷新当前页
       }else{
        toastr.error(data.message, '错误!');
       }
      }
     });  // end ajax
    }else{
     //update
     //异步修改数据
     $.ajax({
      contentType: "application/json",
      dataType: "json",
      type: "post",
      data:JSON.stringify( {
       id:$("#id").val(),//主键，从隐藏input获取到
       name:$("#name").val(),
       address:$("#address").val(),
       phone:$("#phone").val(),
      }),
      url: "/updateAddress",//后台处理地址
      success: function (data) {
       if(data.code==0){
        toastr.success(data.message, '修改成功！');
        $("#modal").modal('hide');
        datatable.ajax.reload(null, false);//刷新当前页
       }else{
        toastr.error(data.message, '错误!');
       }
      }
     });  // end ajax
    }
  });//end btn_save
 });
</script>
<footer>
 <section class="Otherlink">
  <aside>
   <div class="ewm-left">
    <p>手机扫描二维码：</p>
    <img src="../images/Android_ico_d.gif">
    <img src="../images/iphone_ico_d.gif">
   </div>
   <div class="tips">
    <p>客服热线</p>
    <p><i>1830927**73</i></p>
    <p>配送时间</p>
    <p><time>09：00</time>~<time>22:00</time></p>
    <p>网站公告</p>
   </div>
  </aside>
  <section>
    <div>
    <span><i class="i1"></i>配送支付</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">支付方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务费用</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i2"></i>关于我们</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">招贤纳士</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">商家加盟</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i3"></i>帮助中心</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">服务内容</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">常见问题</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站地图</a></li>
    </ul>
    </div>
  </section>
 </section>
</footer>
</body>
</html>
